@import "../Styles/Var-style.scss";

.timeline-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-direction: column-reverse;
    .timeline {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 50px;
        .timeline-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background: lightgray;
            border-radius: 50%;
            .timeline-item-content {
                position: relative;
                width: 20px;
                height: 20px;
                .year {
                    position: absolute;
                    top: 25px;
                    left: -35px;
                    font-size: $font-size-standard;
                    white-space: nowrap;
                }
                .dot {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 10px;
                    background: gray;
                    border-radius: 50%;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -1000px; // Ajustez cette valeur en fonction de la largeur de votre écran
                        width: 106vw; // Ajustez cette valeur en fonction de la largeur de votre écran
                        height: 1px;
                        background: gray;
                        z-index: -1;
                    }
                }
            }
        }
    }

    .eventNew {
        background-color: $color-secondary;
        padding: 1rem;
        margin: 25px 0;
        width: 416px;
        text-align: center;
        font-size: $font-size-standard;
        &:hover {
            background-color: $color-accent;
            transition: rotate 0.2s linear;
            color: $white;
        }

    }
}



.selected-event {
    width: 1100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    .eventDesc {
        background: $color-secondary;
        border-radius: 10px;
        padding: 35px;
        width: 350px;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);
        .eventTitle {
            font-size: 2em;
            font-weight: bold;
        }
        .eventDate {
            font-size: 1.5em;
            font-weight: bold;
        }
        .eventText {
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
        }
    }
    .eventImg {
        width: 500px;
        height: 500px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.8);
        .eventImgDetail {
            width: 500px;
            height: 500px;
            border-radius: 10px;
            object-fit: cover;
        }
    }
}

