//VARIABLES//

$color-primary: #D09D6A;
$color-secondary: #D2B48C;
$color-tertiary: #582900;
$color-accent: #24603F;
$white: #ffffff;
$black: #000000;

$font-primary: 'Aleo', sans-serif;
$font-primary: 'Aleo', sans-serif;
$font-logo: 'Jacques Francois Shadow', serif;

$font-size-standard: 1rem;
$font-size-large: 2rem;
$font-size-small: 0.8rem;
$font-size-menu: 1.4rem;
